@import "../../../../../assets/styles/variables";

.G-modal {
  overflow-y: auto;
  height: 550px;
  padding: 15px 30px;

  .G-modal-title {
    margin-bottom: 0;
  }
}

.P-form {
  width: 100%;
  padding: 10px;

  .P-left-block {
    width: 49%;
    height: 300px;
    border: 1px solid $light-gray;
    background-size: contain;

    .P-image {
      width: 100%;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .P-bottom-block {
    width: 100% !important;

    .P-input-group {
      width: calc(100% / 2 - 5px) !important;
    }
  }

  .P-right-block, .P-bottom-block {
    width: 49%;

    .P-calendar {
      width: 100%;
      margin-bottom: 10px;

      mat-form-field {
        width: 100%;
        height: 45px;
        border-radius: 5px;
        border: 1px solid $light-gray;

        ::ng-deep {
          .mat-form-field-wrapper {
            margin: 0 !important;
            padding: 0 !important;

            .mat-form-field-underline {
              display: none !important;
            }

            .mat-form-field-flex {
              display: flex;
              background-color: white;
              height: 42px;
              align-items: center;
              justify-content: center;
              padding: 0 !important;

              .mat-form-field-outline {
                .mat-form-field-outline-start {
                  min-width: 0;
                  border-width: 0;
                }

                .mat-form-field-outline-gap {
                  min-width: 0;
                }

                .mat-form-field-outline-end {
                  border: none !important;
                  min-width: 0;
                }

              }
            }

          }

          .mat-form-field-infix {
            border-top: 0 !important;
            padding: 0 !important;
            input {
              border: none !important;
            }
          }

          .mat-select-placeholder {
            font-size: 16px;
            color: gray;
          }
        }
      }
    }

    .P-input-group {
      width: 100%;
      margin-bottom: 10px;

      input {
        width: 100%;
        height: 45px;
        border-radius: 5px;
        margin-top: 5px;
        border: 1px solid $light-gray;
      }

      mat-form-field {
        width: 100%;
        margin-top: 5px;
        border-radius: 5px;
        border: 1px solid $light-gray;

        ::ng-deep {
          .mat-form-field-wrapper {
            margin: 0 !important;
            padding: 0 !important;

            .mat-form-field-flex {
              height: 45px;
              display: flex;
              align-items: center;
              justify-content: center;

              .mat-form-field-outline {
                .mat-form-field-outline-start {
                  min-width: 0;
                  border-width: 0;
                }

                .mat-form-field-outline-gap {
                  min-width: 0;
                }

                .mat-form-field-outline-end {
                  border: none !important;
                  min-width: 0;
                }

              }
            }

          }

          .mat-form-field-infix {
            border-top: 0 !important;
            padding: 0 !important;
          }

          .mat-select-placeholder {
            font-size: 16px;
            color: gray;
          }
        }
      }

    }
  }

}

.P-actions-book {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;

  .P-cancel {
    background-color: white;
    color: green;
    border: 1px solid green;
  }

  .P-save {
    color: white;
    background: linear-gradient(green, yellow);
  }
}

